<h4 class="title is-4 has-text-link has-text-centered-mobile"><%= @transaction.form_name %> Transaction</h4>
<h6 class="subtitle is-7 has-text-grey has-text-weight-semibold has-text-centered-mobile"><%= @account.account_name_balance %></h6>
<span data-controller="trxform">
  <div id="transaction_form_content">
    <%= render "transactions/components/form_content", transaction: @transaction %>
  </div>
</span>

<%= render "categories/modal" %>