<div class="navbar-item">
  <div class="field has-addons">
    <div class="control">
      <input class="input is-small" type="text" placeholder="Transaction search">
    </div>
    <div class="control">
      <a class="button is-primary is-small">
        Search
      </a>
    </div>
  </div>
</div>