<%= turbo_stream.replace "reconcile_account_#{@account.id}" do %>
  <%= turbo_frame_tag "reconcile_account_#{@account.id}" do %>
    <div class="box has-background-success-light">
      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <span class="icon has-text-success"><i class="fas fa-check-circle fa-lg"></i></span>
            <span class="ml-2">
              <strong><%= @account.account_card_title %></strong> marked current.
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
