<div class="columns">
  <div class="column is-8-desktop is-offset-2-desktop">
    <h2 class="title is-4 has-text-link">Backup codes</h2>

    <div class="notification is-warning is-light">
      <strong>Save these codes now.</strong> Each can be used once if you lose
      access to your authenticator. They will not be shown again.
    </div>

    <div class="box">
      <div class="columns is-multiline is-mobile">
        <% @backup_codes.each do |code| %>
          <div class="column is-half-desktop is-full-mobile is-family-monospace has-text-centered" style="font-size: 1.1em; padding: 0.5em;">
            <%= code %>
          </div>
        <% end %>
      </div>
    </div>

    <p class="has-text-centered">
      <%= link_to "Done", two_factor_settings_path, class: "button is-primary" %>
    </p>
  </div>
</div>
